.gridContainer {
	margin-top: 30px;
	display: grid;
	/* grid-template-columns: auto auto auto auto; */
	grid-template-columns: repeat(auto-fit, 20rem);
	/*auto fit vs. autofill*/
	grid-gap: 20px;
	justify-content: center;
	/* background-color: #2196F3; */
	/* padding: 50px; */
}
