.SenCard {
	background-color: cornflowerblue;
	height: auto;
	width: 100%;
	text-align: center;
	border-radius: 30px;
	box-shadow: 10px 10px 8px #888888;
	color: white;
	padding-top: 20px;
}

.SenImg {
	max-width: 300px;
	max-height: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
}

.ViewLink {
	background-color: #2db3a7d7;
	color: white;
	/* padding: 14px 25px; */
	padding: 15px;
	margin-bottom: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 20px;
}

.ViewLink:hover {
	background-color: red;
}
