.About {
    padding: 40px;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    /* font-size: 2em; */
}
h1 {
    text-align: center;
}
p {
    font-size: 25px;
}
hr {
    border: 5px solid;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    p {
        font-size: 20px;
        /* white-space:nowrap; */
    }
    .URL {
        white-space:nowrap;
        /* color: red; */
    }

}