.banner {
    /* border-radius: 20px; */
    width: 70%;
    max-height: 200px;
    /* opacity: 0.8; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* filter: sepia(20%); */
    
}