/* the navbar container*/
.NavBar {
	background-color: black;
	text-align: center;
	/* margin: 5px 30px; */
	width: 100%;
    /* padding: 10px; */
}
/* NavBar Links */
.Link {
	/* float: right;
    display:block; */
	color: white;
	/* padding: 50px 50px; */
    padding: 30px 30px;
	font-size: 30px;
	text-decoration: none;
}

/* Links - change color on hover */
.Link:hover {
	background-color:lightblue;
	color: black;
}
