.Profile {
    background-color:cornflowerblue;
    height: auto;
    width: 100%;
    text-align:center;
    border-radius: 30px;
    box-shadow: 10px 10px 8px #888888;
    color: white;
    
}

img {
    max-width: 300px;
    max-height: 300px;
    display:block;
    margin-left: auto;
    margin-right:auto;
}

table, td {
    border: 1px solid black;
}